.card {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    box-shadow: 2px 2px 4px 4px #DEDEDE;
    transition: 0.4s;
    transform-style: preserve-3d;
    position: relative;
    cursor: pointer;
  }
  .card .mask {
    width: 95%;
    height: 95%;
  }
  .card .card-face {
    backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  .card .card-face.card-back-face {
    transform: rotateY(180deg);
    margin-top: 1.5rem;
  }
  .card.is-flipped {
    transform: rotateY(180deg);
  }
  .card.is-inactive {
    opacity: 0;
  }
  